@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import './sidebar.scss';
@import './element-ui.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, PingFangSC, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

div:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* 普通IE浏览器 样式清除 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
/* 火狐浏览器样式清除 */
input[type='number'] {
  -moz-appearance: textfield;
}

.app-container {
  min-height: calc(100vh - 132px);
  background: #fff;
  padding: 24px;
}

.btn-area,
.area {
  cursor: pointer;
}

.right-menu,
.nav-logout {
  .el-dropdown {
    color: #999;
  }
}

.logo-container {
  color: #fff;
  img {
    height: 16px;
  }
}
.nav-left {
  line-height: 48px;
}