@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flex-auto {
  &>div:last-child {
    flex: auto;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin bg {
  background: #100c2a
    linear-gradient(
      180deg,
      rgba(76, 160, 253, 0.1) 0%,
      rgba(29, 81, 255, 0.1) 100%
    );
  box-shadow: 2px 2px 4px 0px rgba(44, 223, 255, 0.2);
}
@mixin bar-bg {
  background: #100c2a
    linear-gradient(
      180deg,
      rgba(37, 103, 249, 0.1) 0%,
      rgba(37, 103, 249, 0.2) 100%
    );
  box-shadow: 0px 1px 2px 0px #1d51ff;
  box-shadow: 0px 1px 2px 0px #1d51ff;
}

@mixin card {
  @include bg;
  border-radius: 16px;
}

@mixin border {
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  // background: linear-gradient(
  //   180deg,
  //   rgba(76, 160, 253, 0.1) 0%,
  //   rgba(29, 81, 255, 0.1) 100%
  // );
  background: #fff;
}
